
img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.croissant_scan{
    width:1200px;
    height:1200px;
    
}

.the_croissant1{
    width:1600px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.inside{
    width:1700px;
    height:840px;
    position:absolute;
    top:43%;
    left:50%;
    transform:translate(-50%, -50%);
}

.p2{
    width:1650px;
    height:auto;
    position:absolute;
    top:93%;
    left:50%;
    transform:translate(-50%, -50%);
}

.qm3{
    width:1700px;
    height:1000px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.kipferl{
    width:800px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.flag{
    width:800px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.war{
    width:1700px;
    height:1000px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}